<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="fixed-bottom">
<div class="container" th:fragment="footer">
    <div class="navbar navbar-dark navbar-expand-md bg-dark d-flex justify-content-end">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="http://www.facebook.com">
                <i class="fab fa-facebook-f fa-2x"></i>
            </a>
            <a class="nav-item nav-link" href="http://www.vk.com">
                <i class="fab fa-vk fa-2x"></i>
            </a>
            <a class="nav-item nav-link" href="http://www.twitter.com">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
</div>
</footer>
</body>
</html>