<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>webtech</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
    <header >
            <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-around mx-1">
                <!-- меню сайта -->
                <a class="navbar-brand" href="#">38157097</a>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" th:href=@{/}>Лб 2</a>
                    <a class="nav-item nav-link" th:href=@{/product}>Каталог</a>
                    <a class="nav-item nav-link" href=@{/admin}>Администрирование</a>
                </div>
                <!-- меню сайта - конец -->
                <!-- Информация пользователя -->
                <a href="#" class="navbar-text ml-auto">
                    00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
                </a>
                <div class="dropdown ml-4 nav-color">
                    <div class="dropdown-toggle" id="dropdownMenuButton"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        <img src="images/avatar.png" width="30"
                             alt="User" class="rounded" />
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item-text">
                            <img th:src=@{images/avatar.png} width="50" alt="User" class="rounded" />
                            user@mail.ru
                        </div>
                        <div class="dropdown-divider"></div>
                        <a></a>
                        <a class="dropdown-item" th:href=@{/product/{user}}>Мои товары</a>
                        <a class="dropdown-item" th:href=@{/account/logout}>Выход</a>
                    </div>
                </div>
                <!-- Информация пользователя - конец -->
            </nav>
    </header>
    <main class="container" th:replace="layout/layout :: layout">
    </main>
        <footer class="fixed-bottom">
            <div class="container">
                <div class="navbar navbar-dark navbar-expand-md bg-dark d-flex justify-content-end">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="http://www.facebook.com">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </a>
                        <a class="nav-item nav-link" href="http://www.vk.com">
                            <i class="fab fa-vk fa-2x"></i>
                        </a>
                        <a class="nav-item nav-link" href="http://www.twitter.com">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>
